@import "https://fonts.googleapis.com/css?family=Comfortaa:700&subset=greek";
.header1{background-image:url(../img/paradosiaki-taverna-parnitha.jpg);height:100vh;width:auto;background-size:cover;display:flex;flex-direction:column;justify-content:center;align-items:center;z-index:1;background-position:center center;background-repeat:no-repeat;background-attachment:fixed}
#bg{background-color:rgba(0,0,0,0.5);position:absolute;top:0;left:0;width:100%;height:100%;z-index:2}
span.logo h1{text-shadow:2px 1px 2px #AD9F59;font-size:2em;text-align:center}
span.logo{color:#fff;font-family:'Comfortaa',cursive;font-style:italic;z-index:3;margin-top:20px}
span.logo a{color:#fff;text-decoration:none}
span.logo a:hover{text-decoration:underline}
.icon-logo{font-size:1.5em}
#arraw{height:50px;width:50px;background:#000;border-radius:50%;text-align:center;left:50%;display:block;margin:50px auto;border:3px solid #fff;cursor:pointer;z-index:3;}
#arraw::after{color:#fff;content:" \2193";font-size:2em}
#one{margin:0 0 3vh 0;}
#two{margin:25vh auto 5vh;}
#two p{background: lightgray;position:relative;border-radius:5px;padding: 1em;font-style: italic;font-family:'Comfortaa',cursive;}
#two p:after{content:'';display:block;position:absolute;width:0;height:0;border-top:8px solid transparent;border-bottom: 8px solid transparent;border-right:15px solid lightgray;top:15px;left:-15px;}
.quotes{width:80vw;margin:10vh auto;font-family:monospace;font-size:1.2em}
.quotes:first-letter{font-size:4em}
#map{height:50vh}
@media(max-width:767px) {
#map{height:75vh}
.header3{text-align:center;}
.btn-custom{margin:0 auto;}
.pull-right{text-align: center;float:none !important;}
}
nav.navbar-fixed-top.navbar{font-family:'Comfortaa',cursive;font-style:italic;background:#000;z-index:4}
nav.navbar-fixed-top.navbar a{color:#fff;font-size:1.2em}
nav.navbar-fixed-top.navbar a:hover{background:none;text-decoration:underline}
.navbar-default .navbar-toggle .icon-bar{background-color:red!important}
.navbar-toggle{border:1px solid #fff!important}
.navbar-toggle .icon-bar{background:#fff}
.navbar-collapse{box-shadow:none!important}
.thumbnail{margin-bottom:6px}
.header2{margin:30vh 0}
.ff{margin:20px}
.btn-custom{color:#fff;background-color:transparent !important;border-color:#fff;border-radius:0 !important;}
.header3{height:100vh;width:auto;display:flex;flex-direction:column;justify-content:center;align-items:center;z-index:1;background:#000;}
.btn:hover{background-color:#fff !important;color:#000;}
#arraw2{height:50px;width:50px;background:#000;border-radius:50%;text-align:center;left:50%;display:block;margin:50px auto;border:3px solid #fff;cursor:pointer;z-index:3;}
#arraw2::after{color:#fff;content:" \2193";font-size:2em}
