header{
	background-image: url('../img/paradosiaki-taverna-parnitha.jpg');
	height: 100vh;
	width: auto;
	background-size: cover;
	margin-bottom: 200px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#bg {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-family: 'Bitter', serif;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
}