@import url(https://fonts.googleapis.com/css?family=Comfortaa:700&subset=greek);
header{
	background-image: url('../img/paradosiaki-taverna-parnitha.jpg');
	height: 100vh;
	width: auto;
	background-size: cover;
	margin-bottom: 200px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#bg {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
}

h1{
	text-shadow: 2px 1px 2px #AD9F59;
	font-size: 2.5em;
}

span.logo {
    color: #fff;    
    font-family: 'Comfortaa', cursive;
    font-style: italic;
    background: black;
    padding: 40px;
    border-radius: 15px 50px;
    
}

span.logo a{
    color: #fff;
    text-decoration: none;
    
}

.icon-logo{
	font-size: 1.5em;
}

#arraw {
    height: 50px;
    width: 50px;
    background: black;
    border-radius: 50%;
    text-align: center;
    left: 50%;
    display: block;
    margin: 50px auto;
    border: 2px solid #fff;
    cursor: pointer;
}

#arraw::after {
	color: #fff;
    content: " \2193";
    font-size: 2em;
}


#one{
	min-height: 300px;
}